<div class="container">
  <div class="col-md-offset-3 col-md-6 panel">
    <div class="panel-body">
      <div class="text-center login-logo">
        <img src="../assets/images/logo.png">
        <div class="error-message" ng-if="vm.error">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span ng-bind="'You have entered an incorrect email and password'"></span>          
        </div>
      </div>
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>
        <div class="form-group">
          <input type="email" name="email" class="form-control login-inputs" ng-model="vm.user.email" placeholder="you@example.com" ng-class="{'has-error' : form.email.$error.required && vm.submitted}" required>
        </div>
        <div class="form-group">
          <input type="{{ vm.showPassword ? 'text' : 'password' }}" name="password" class="form-control login-inputs password" ng-model="vm.user.password" placeholder="password" ng-class="{'has-error' : form.password.$error.required && vm.submitted}" required>
          <span class="password-eye glyphicon" ng-class="{ 'glyphicon-eye-open' : vm.showPassword, 'glyphicon-eye-close' : !vm.showPassword}" ng-click="vm.showPassword = !vm.showPassword"></span>
          <a class="pull-right" href="">Forgot Password?</a>
        </div>
        <div class="nxt-group">
          <button type="submit" class="btn-lg col-xs-12 app-default-btn">
            Login
          </button>
          <span>Dont have an account? </span>
          <a ui-sref="signup">Create one.</a>
        </div>
      </form>
    </div>
  </div>
</div>