.page-header {
    background-color: #00000073;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    border-bottom: 1px solid #1010102e;
}

.logo-header, #navbar-main {
    height: 50px;
    color: #ffffffc4;

    .logo-contents {
        padding: 10px 10px;
    }

    .logo {
        position: relative;
        height: 25px;
        opacity: 0.6;
    }

    .logo-text {
        font-size: 18px;
    }
}

.logo-header:hover, #login:hover, #signup:hover, ul > li:hover, li.active {
    cursor: pointer;
    background-color: #424242;

    .logo {
        opacity: unset;
    }

    span {
        color: #ffffff;
    }
}

ul > li {
    padding: 15px;
}
